.milestone{
  display: flex;
  flex-direction: row;
  
  @include pad{
    padding-right: 12px;
    padding-left: 12px;
    flex-direction: column;
  }

  .year{
    margin-right: 60px;
    text-align: center;
    
    @include pad{
      margin-right: 0px;
      margin-bottom: 24px;
      text-align: left;
    }
  }

  .badge{
    width: 91px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .month{
    width: 70px;
  
    &-content{
    width: 90%;
    }
  }
}

.vision{
  width: 66%;
  margin: 0 auto;

  @include pad{
    width: 90%;
  }
}