<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>

      <section class="container">
        <div class="yb-10 rounded-3 position-relative">
          <picture>
            <source media="(min-width: 575px)" srcset="../assets/images/banner.png">
            <img src="../assets/images/banner-sm.png" alt="banner" class="w-100">
          </picture>
          <div class="container-fluid px-9 py-5 position-absolute top-50 translate-middle-y text-white">
            <h3 class="fs-6 fs-lg-5 subtitle">獻給新世代的生活風格誌</h3>
            <h2 class="col-md-8 fs-3 fs-lg-1 fw-bolder mb-4">一起探索生活的無限可能</h2>
            <a class="btn btn-secondary-200 fs-lg-5 text-white" href="#" role="button">
              馬上訂閱
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div> 

        
        
      </section>




      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2 fw-bolder">熱門主題</h2>
        <div class="row flex-wrap row-cols-lg-4 row-cols-mg-2 row-cols-1 gx-5 gy-5">
          <!-- 父層 row-col-lg-4(後面的4不代表格線4而是代表版面平均分配4攔) + 子層 col (.col 如果不寫數值就是空間等分) = 子層 col-lg-3 * 4  -->

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png">
                <img src="../assets/images/theme-1-sm.png" alt="城市漫遊者" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">城市漫遊者</h3>
              </div>
            </div>
          </div>


          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-3.png">
                <img src="../assets/images/theme-3-sm.png" alt="秘境尋蹤人" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">秘境尋蹤人</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-5.png">
                <img src="../assets/images/theme-5-sm.png" alt="品味設計家" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">品味設計家</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-7.png">
                <img src="../assets/images/theme-7-sm.png" alt="美食探險記" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">美食探險記</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-2.png">
                <img src="../assets/images/theme-2-sm.png" alt="美學建築誌" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">美學建築誌</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-4.png">
                <img src="../assets/images/theme-4-sm.png" alt="慢活生活行" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">慢活生活行</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-6.png">
                <img src="../assets/images/theme-6-sm.png" alt="工藝匠心賞" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">工藝匠心賞</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-8.png">
                <img src="../assets/images/theme-8-sm.png" alt="時尚先鋒派" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">時尚先鋒派</h3>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2 fw-bolder">精選文章</h2>
      </section>

      <section class="bg-primary-200">
        <div class="container position-relative py-lg-10">

          <div class="hito-content">
  
            <h2 class="fs-3 fs-lg-2 fw-bolder text-center">家庭訂閱方案限時 7 折</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem vero molestiae voluptates expedita non quo magnam architecto consectetur quis doloribus facilis, illo accusantium nulla, veniam sint cupiditate quibusdam voluptas ullam minus! Fuga numquam repellendus quod et temporibus! Eveniet rerum nobis inventore perferendis est soluta iusto, cum voluptas quibusdam in expedita. Velit explicabo fugiat consequatur veniam distinctio. Placeat cum fugit ratione dolorum, ad eum, dignissimos iusto fugiat nobis earum fuga ex a? Sequi vel ipsum earum temporibus! Facilis ducimus fugiat fuga illum dolorem quas est eum nihil. Dolor quia provident voluptatibus quos ipsum impedit ut, nemo, dicta labore eveniet, non eligendi.</p>
          </div>
        </div>
      </section>


      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2">大家都在看</h2>
      </section>

      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2">品味生活</h2>
      </section>

      <section class="py-lg-10 bg-primary-200">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-12 py-lg-0 py-8  px-lg-0 px-6 text-center text-lg-start">
              <h3 class="fs-6 fs-lg-5 subtitle">今天又不知道要去哪裡了嗎？</h3>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-none d-lg-block">Vivre 給你意想不到的生活風格提案</h2>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-lg-none">Vivre</h2>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-lg-none">給你意想不到的生活風格提案</h2>
              <button type="button" class="btn btn-secondary-200 mt-lg-6 mt-4 fs-lg-5 text-white">
                馬上訂閱
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>


            <div class="col-lg-6 col-12">
              <ul class="row list-unstyled">
                <li class="col-lg-6 mt-lg-10 position-relative">
                  <img src="../assets/images/projects-2.png" alt="人氣行程.png" class="w-100">
                </li>
                <li class="col-lg-6 mt-lg-7">
                  <img src="../assets/images/projects-1.png" alt="編輯推薦.png" class="w-100">
                </li>
                <li class="col-lg-6 mt-lg-7">
                  <img src="../assets/images/projects-4.png" alt="編輯推薦.png" class="w-100">
                </li>
                <li class="col-lg-6">
                  <img src="../assets/images/projects-3.png" alt="熱門文章.png" class="w-100">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="container py-lg-10">


        <div class="row">

          <h2 class="col-lg-6 col-12 px-0 fs-3 fs-lg-2 text-lg-start text-center">想看什麼主題由你決定！</h2>
          <div class="col-lg-6 col-12 px-0 text-lg-end text-center">
            <p>歡迎投稿與我們分享</p>
            <a class="btn btn-secondary-200 fs-lg-5 text-white" href="#" role="button">
              聯絡我們
            </a>
          </div>



        </div>


      </section>


    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
