<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>

      <section class="container">
        <div class="yb-10 rounded-3 position-relative">
          <picture>
            <source media="(min-width: 575px)" srcset="../assets/images/banner.png">
            <img src="../assets/images/banner-sm.png" alt="banner" class="w-100">
          </picture>
          <div class="container-fluid px-9 py-5 position-absolute top-50 translate-middle-y text-white">
            <h3 class="fs-6 fs-lg-5 subtitle">獻給新世代的生活風格誌</h3>
            <h2 class="col-md-8 fs-3 fs-lg-1 fw-bolder mb-4">一起探索生活的無限可能</h2>
            <button type="button" class="btn btn-secondary-200 fs-lg-5 text-white">
              馬上訂閱
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div> 

        
        
      </section>




      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2 fw-bolder">熱門主題</h2>
        <div class="row flex-wrap row-cols-lg-4 row-cols-mg-2 row-cols-1 gx-5 gy-5">
          <!-- 父層 row-col-lg-4(後面的4不代表格線4而是代表版面平均分配4攔) + 子層 col (.col 如果不寫數值就是空間等分) = 子層 col-lg-3 * 4  -->

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-1.png">
                <img src="../assets/images/theme-1-sm.png" alt="城市漫遊者" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">城市漫遊者</h3>
              </div>
            </div>
          </div>


          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-3.png">
                <img src="../assets/images/theme-3-sm.png" alt="秘境尋蹤人" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">秘境尋蹤人</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-5.png">
                <img src="../assets/images/theme-5-sm.png" alt="品味設計家" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">品味設計家</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-7.png">
                <img src="../assets/images/theme-7-sm.png" alt="美食探險記" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">美食探險記</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-2.png">
                <img src="../assets/images/theme-2-sm.png" alt="美學建築誌" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">美學建築誌</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-4.png">
                <img src="../assets/images/theme-4-sm.png" alt="慢活生活行" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">慢活生活行</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-6.png">
                <img src="../assets/images/theme-6-sm.png" alt="工藝匠心賞" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">工藝匠心賞</h3>
              </div>
            </div>
          </div>

          <div class="col position-relative">
            <div class="theme-card">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/theme-8.png">
                <img src="../assets/images/theme-8-sm.png" alt="時尚先鋒派" class="w-100">
              </picture>
              <div class="position-absolute top-50 start-50 translate-middle text-white">
                <h3 class="theme-card-title fs-6 fs-lg-5">時尚先鋒派</h3>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2 fw-bolder">精選文章</h2>

        <!-- Slider main container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            ...
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

          <!-- If we need scrollbar -->
          <div class="swiper-scrollbar"></div>
        </div>


      </section>

      <section class="bg-primary-200">
        <div class="container position-relative py-lg-10 py-8">

          <div class="hito-content text-center">
            <p class="content-title">\ 母親節強檔活動 /</p>
            <h2 class="fs-3 fs-lg-2 fw-bolder mb-lg-4">家庭訂閱方案限時 7 折</h2>
            <ul class="row list-unstyled content-list fs-6 gy-3">
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>每月最新文章無限閱讀</p>
              </li>
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>專屬會員限定內容</p>
              </li>
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>定期電子報</p>
              </li>
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>24 /7 優先客戶服務</p>
              </li>
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>每月最新文章無限閱讀</p>
              </li>
              <li class="text-primary-400 d-flex">
                <i class="bi bi-check-lg me-2"></i>
                <p>為每個成員量身打造專屬行程</p>
              </li>
            </ul>
            <button type="button" class="btn btn-secondary-200 mt-lg-7 mt-4 fs-lg-5 fs-6 text-white">
              我想了解
            </button>

          </div>
        </div>
      </section>


      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2 fw-bolder mb-lg-7 mb-5">大家都在看</h2>
        <div class="row">
          <div class="col-3 d-none d-lg-block me-5 bg-white">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">酒精路跑地圖</a>
              <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">台北拉麵圖鑑</a>
              <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">海島自由行</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">短天數出國推薦</a>
              <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">週末露營趣 </a>
            </div>
          </div>
          <div class="col-8 bg-white">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h4 class="text-secondary-200  mb-lg-5 mb-2 fw-bolder">酒精路跑地圖</h4> 
                <ul class="row list-unstyled gy-4">
                  <li>｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                  <li>｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                  <li>｜台南老宅手工酒藏,尋味百年人文釀意</li>
                </ul>
                <div class="d-flex p-3 gx-1">
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/hots-1.png">
                    <img src="../assets/images/hots-1-sm.png" alt="酒精路跑地圖-1" class="w-100 rounded-start rounded-3">
                  </picture>
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/hots-2.png">
                    <img src="../assets/images/hots-2-sm.png" alt="酒精路跑地圖-2" class="w-100 d-none d-lg-block">
                  </picture>
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/hots-3.png">
                    <img src="../assets/images/hots-3-sm.png" alt="酒精路跑地圖-3" class="w-100 d-none d-lg-block">
                  </picture>
                  <picture>
                    <source media="(min-width: 992px)" srcset="../assets/images/hots-4.png">
                    <img src="../assets/images/hots-4-sm.png" alt="酒精路跑地圖-4" class="w-100 rounded-end rounded-3 d-none d-lg-block">
                  </picture>
                </div>

                <div class="hotstag">
                  <div class="gx-lg-2 gx-1">
                    <span class="badge text-bg-primary-300 text-primary-400 fs-lg-6 fs-5">#夜貓行程</span>
                    <span class="badge text-bg-primary-300 text-primary-400 fs-lg-6 fs-5">##barhopping</span>
                    <span class="badge text-bg-primary-300 text-primary-400 fs-lg-6 fs-5">#全台酒吧</span>
                  </div>
                  <div class="wer">
                    <button type="button" class="btn btn-white text-secondary-200 fs-lg-5">
                      View More
                      <i class="bi bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
            </div>
          </div>
        </div>
      </section>

      <section class="container py-lg-10">
        <h2 class="fs-3 fs-lg-2">品味生活</h2>
      </section>

      <section class="py-lg-10 bg-primary-200">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-12 py-lg-0 py-8 px-lg-0 px-6 text-lg-start text-center">
              <h3 class="fs-6 fs-lg-5 subtitle">今天又不知道要去哪裡了嗎？</h3>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-none d-lg-block">Vivre 給你意想不到的生活風格提案</h2>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-lg-none">Vivre</h2>
              <h2 class="fs-3 fs-lg-2 fw-bolder d-lg-none">給你意想不到的生活風格提案</h2>
              <button type="button" class="btn btn-secondary-200 mt-lg-6 mt-4 fs-lg-5 text-white">
                馬上訂閱
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>


            <div class="col-lg-6 col-12">
              <ul class="row list-unstyled">
                <li class="col-lg-6 mt-lg-10 position-relative">
                  <img src="../assets/images/projects-2.png" alt="人氣行程.png" class="w-100" >
                  <h4 class="position-absolute top-0 end-50 translate-middle-y">
                    <span class="badge bg-white text-secondary-300"><i class="bi bi-play-fill"></i>人氣行程</span>
                  </h4>
                </li>
                <li class="col-lg-6 mt-lg-7 position-relative">
                  <img src="../assets/images/projects-1.png" alt="編輯推薦.png" class="w-100">
                  <h4 class="position-absolute top-0 end-50 translate-middle-y">
                    <span class="badge bg-white text-secondary-300"><i class="bi bi-play-fill"></i>編輯推薦</span>
                  </h4>
                </li>
                <li class="col-lg-6 mt-lg-7 position-relative">
                  <img src="../assets/images/projects-4.png" alt="編輯推薦.png" class="w-100">
                  <h4 class="position-absolute top-0 end-50 translate-middle-y">
                    <span class="badge bg-white text-secondary-300"><i class="bi bi-play-fill"></i>編輯推薦</span>
                  </h4>
                </li>
                <li class="col-lg-6 position-relative">
                  <img src="../assets/images/projects-3.png" alt="熱門文章.png" class="w-100">
                  <h4 class="position-absolute top-0 end-50 translate-middle-y">
                    <span class="badge bg-white text-secondary-300"><i class="bi bi-play-fill"></i>熱門文章</span>
                  </h4>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </section>

      <section class="container py-lg-10">
        <div class="row">
          <h2 class="col-lg-6 col-12 px-0 fs-3 fs-lg-2 text-lg-start text-center">想看什麼主題由你決定！</h2>
          <div class="col-lg-6 col-12 px-0 mb-2 text-lg-end text-center">
            <p>歡迎投稿與我們分享</p>
            <a class="btn btn-secondary-200 fs-lg-5 text-white" href="#" role="button">
              聯絡我們
            </a>
          </div>
        </div>
      </section>


    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="text/javascript">
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'vertical',
        loop: true,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
    </script>
  </body>
</html>
